<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/Education/java projects/ATB13xAPIAutomationPrograms"><classes><class name="com.test.HealthCheckTest"><methods><include name="healthCheckTest"/></methods></class><class name="com.test.practice.ex_03_TestNG_AllureReoprt.APITesting_Lab06_TestCase"><methods><include name="test_tc1_pincode_valid"/><include name="test_tc2_pincode_invalid"/><include name="test_tc3_pincode_invalid"/></methods></class><class name="com.test.practice.ex_03_TestNG_AllureReoprt.TempTestNG"><methods><include name="test_pramod"/></methods></class></classes></test></suite>